<section class="flex gap-x-4">
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-200 [&>p>strong]:font-semibold">
    <p>
      My name is Frederick, but my friends call me Fred. <strong>I began learning programming with PseInt and later progressed
      to the C language, using the Turbo C IDE on the DosBox emulator.</strong> Since then, I enjoy developing mobile-responsive
      web and mobile applications, building scalable backend solutions, and creating custom software solutions.
    </p>

    <p>
      One of my milestones is that<strong> I contributed to the development of a desktop system for a hardware store</strong>, where I
      used C#, SQL Server, and DevExpress to create an Importation Management System.
    </p>

    <p>
      I am inspired by the phrase: "<strong><em class="italic">If you can imagine it, you can program it.</em></strong>" To me, it reflects the limitless
      potential of software to solve problems, create innovative solutions, and turn ideas into reality.
    </p>
  </div>
</section>