---
import TimelineItem from "./TimelineItem.astro";

const EXPERIENCE = [
  {
    date: "Nov 2023 - Dec 2024",
    title: "Software Developer - Stagewood Consortium, Inc",
    description:
      "Developed mobile-responsive webpages using React.js, Next.js, and TypeScript, achieving a 25% improvement in load times. Built cross-platform mobile applications with React Native, seamlessly integrating Firebase for authentication and real-time data storage. Additionally, translated Figma prototypes into pixel-perfect components, ensuring 100% design accuracy.",
  },
  {
    date: "Jul 2023 - Nov 2023",
    title: "Software Developer - Bonus Tech, Inc",
    description:
      "Designed and maintained WordPress websites with a focus on fast load times and mobile responsiveness, while customizing themes and plugins to meet diverse client needs and enhance functionality. Additionally, developed scalable backend solutions using ASP.NET Core and PostgreSQL, improving data reliability and integration.",
  },
  {
    date: "Jan 2023 - May 2023",
    title: "Software Developer Intern - El Halcon",
    description:
      "Developed an Importation Management System using C#, SQL Server, and DevExpress, resulting in a 40% improvement in efficiency. Enhanced user interfaces with DevExpress components, reducing errors and boosting user satisfaction. Additionally, provided tailored solutions and training, cutting manual processes by 50%.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <TimelineItem {...experience} />
      </li>
    ))
  }
</ol>
